@media only screen and (max-width: 480px) {

    .filters{ 
      font-size: calc(12px + 1vw)
    }
    h1 {
      font-size: 4.9vw;
    }
    h2 {
      font-size: 3.0vh;
    }
    p {
      font-size: 2vmin;
    }
    
  
  }