
.comp{
    grid-column: small-margin-start / small-margin-end;
    margin:20px 0px;

    min-height: 110px;

    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 30px auto;
    grid-template-rows: 4ch auto minmax(10px, 30px);
    place-self: center;
    

}
.photo{
    align-content: left;
    text-align: end;
    /* grid-column-end: 1; */
    
}   
    

.artist{
    grid-column-start: 2;
    text-align: left;
    font-size: 15px;
    grid-row-start: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    
    
}

.track{
    grid-column-start: 2;
    text-align: left;
    grid-row-end: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    
} 

@media only screen and (max-width: 480px) {

    .comp{ 
      font-size: calc(12px + 1vw)
    }
    h1 {
      font-size: 4.9vw;
    }
    h2 {
      font-size: 3.0vh;
    }
    p {
      font-size: 2vmin;
    }
    
  
  }
  

