@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* :root {
  --primary: #1db954;
  --white: #ffffff;
  --black: #191414;
} */

/* .btn {
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-color: #1db954;
  color: #ffffff;
} */

