@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

.App {
  background: black;
  font-family: "Inter", sans-serif;
  width: 100%;
}
body {
  background-color: black;
  color: white;
}
img {
  height: 62px;
  width: 62px;
}

.Title {
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Patua One', cursive;
  font-size: 65px;
  font-weight: 1000px;
  text-align: left;
  color: #1bb954;
  position: absolute;
  top: 15px;
  left: 25px;
}
@media only screen and (max-width: 480px) {

  body{ 
    font-size: calc(12px + 1vw)
  }
  h1 {
    font-size: 4.9vw;
  }
  h2 {
    font-size: 3.0vh;
  }
  p {
    font-size: 2vmin;
  }
  

}

